body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    position: relative;
    margin-bottom: 80px;
}
a {
    color: #fff;
    text-decoration: none;
}

a {
    color: #00ff00; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
header h1 {
    margin: 0;
}
h2 {
    color: #87CEEB; 
}





.project-image {
    animation: slideIn 1s ease-in-out;
    
}
.project-image.in-view {
    animation: slideIn 1s ease-in-out;
    
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}




.descripcion {
    text-align: center;
    margin-top: 2em;
}

.descripcion-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion-img {
    margin-right: 20px; 
}

.descripcion-img img {
    max-width: 100px; 
    border-radius: 10px;
    transition: transform 0.5s ease-in-out; 
}

.descripcion-texto {
    text-align: left; 
    
}





.github-activity {
    max-width: 800px;
    margin: 2em auto;
}

.repo {
    background-color: #333;
    padding: 1em;
    margin-bottom: 1em;
}

.repo h3 {
    margin: 0;
}

.habilidades,
.proyectos-metas {
    max-width: 800px;
    margin: 2em auto;
}

.habilidades ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.habilidades li {
    display: inline-block;
    background-color: #444;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
}


.proyectos-metas h1 {
    text-align: center;
    color:  #87CEEB;
}

.bloque-selec {
    max-width: 800px;
    margin: 2em auto;
}

.bloque-selec h2 {
    color: #00ff00; 
}

.bot-info {
    display: flex;
    align-items: center;
}

.bot-info img {
    max-width: 200px; 
    margin-right: 1em;
    border-radius: 5px; 
}


.redes-sociales {
    text-align: center;
    margin-top: 2em;
}

.red {
    display: inline-block;
    margin: 0 1em;
}

.red img {
    max-width: 50px; 
    border-radius: 5px; 
}


.bloque-selec {
    max-width: 800px;
    margin: 2em auto;
}

.redes-sociales {
    text-align: center;
    margin-top: 2em;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook {
  --color: #1877f2;
}
.twitter {
  --color: #1da1f2;
}
.instagram {
  --color: #e4405f;
}
.github {
  --color: #333333;
}
.youtube {
  --color: #cd201f;
}

.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
  background: var(--color);
  color: white;
}






.habilidades ul {
    list-style: none;
    padding: 0;
}

.habilidades li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.habilidades li img {
    max-width: 30px; 
    margin-right: 10px;
}

.imagen-ampliable.ampliada {
    max-width: 400px;
}
.redes-sociales h4{
    color: #756AB6;
    


}

.elemento-movible {
    transition: transform 0.3s ease-in-out;
}

.habilidades li {
    transition: transform 0.3s ease-in-out;
}

.habilidades li:hover {
    transform: translate(5px, 5px);
}




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}





button {
  border: 0;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  
  
}

.nave-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202124;
    padding: 0 40px;
    height: 4.8rem;
    
}


nav > .logo {
  font-size: 26px;
  font-weight: 600;
  color: #528fe0;
}

.dropdowns {
  display: flex;
  align-self: stretch;
}
.dropdown {
  position: relative;
  padding: 26px;
}

.dropdown-button {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
}
.dropdown:hover {
  background-color: hsl(225, 30%, 12%);
  cursor: pointer;
}
.dropdown-button span {
  font-size: 16px;
  font-weight: 500;
}
.dropdown-button i {
  font-size: 14px;
}

.dropdown:hover > .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 100%;
  background-color: #202124;
  display: none;
  color: #fff;
}

.dropdown-menu button {
  padding: 12px 24px;
}

.dropdown-menu button:hover {
  background-color: #303136;
  color: #fff;
}

.redes-sociales a{
  color: black;
}

.redes-sociales a:hover{
  color: #fff;
}



/* Footer */

footer{
    background-color: #202124;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-decoration: solid; 
    position: fixed;
    
}
