body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
}

a {
    color: #00ff00; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
header h1 {
    margin: 0;
}
h2 {
    color: #87CEEB; 
}








.descripcion {
    text-align: center;
}

.descripcion-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion-img {
    margin-right: 20px; 
}

.descripcion-img img {
    max-width: 100px; 
    border-radius: 10px; 
}

.descripcion-texto {
    text-align: left; 
}





.github-activity {
    max-width: 800px;
    margin: 2em auto;
}

.repo {
    background-color: #333;
    padding: 1em;
    margin-bottom: 1em;
}

.repo h3 {
    margin: 0;
}

.habilidades,
.proyectos-metas {
    max-width: 800px;
    margin: 2em auto;
}

.habilidades ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.habilidades li {
    display: inline-block;
    background-color: #444;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
}




.bot-section {
    max-width: 800px;
    margin: 2em auto;
}

.bot-section h2 {
    color: #00ff00; 
}

.bot-info {
    display: flex;
    align-items: center;
}

.bot-info img {
    max-width: 200px; 
    margin-right: 1em;
    border-radius: 5px; 
}


.redes-sociales {
    text-align: center;
    margin-top: 2em;
}

.red {
    display: inline-block;
    margin: 0 1em;
}

.red img {
    max-width: 50px; 
    border-radius: 5px; 
}


.bot-section {
    max-width: 800px;
    margin: 2em auto;
}

.redes-sociales {
    text-align: center;
    margin-top: 2em;
}



.red {
    text-align: center;
}
.red2 img {
    max-width: 60px; 
    border-radius: 5px; 
}

.red img {
    max-width: 50px; 
    border-radius: 5px; 
}

.red p {
    margin: 0; 
    color: #fff; 
}



.habilidades ul {
    list-style: none;
    padding: 0;
}

.habilidades li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.habilidades li img {
    max-width: 30px; 
    margin-right: 10px;
}
